body{
    font-family:'Lato', sans-serif;
    font-size:16px;
    overflow-x:hidden;
    background: #efefef;
}


h1,h2,h3,h4,h5,h6 {
    font-weight:300;
}

.btn, .btn:hover, .btn:visited {
    background: none;
    border: 0.3em solid #fff;
    color: #fff;
    margin: 1.5em auto;
    padding: 1em 5em;
    text-transform: uppercase;
}

.circle {
    background:#778182;
    border-radius:50%;
    height:10em;
    margin: 1.5em auto;
    text-align: center;
    width:10em;
}


.container-fluid {
    padding: 0;
}
.feats {
    height: 50vh;
    margin: 1.5em auto;
    padding-top: 2em;
}

.glyph-welcome {
    color: #fff;
    font-size:5em;
    margin: 25% auto;
}

.jumbotron {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/action.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color:#fff;
}

.navbar {
    background-color:#fff;
    font-size:1.2em;
    margin-bottom:0;
    padding:1em 0;
}



.navbar ul {
    padding: 0 1em;
}
.navbar-brand > img{
    height: 3em;
    margin: -1em 0 0 2em;
}
#think {
    height:60vh;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background: url('../img/phone.jpeg') 50% 50%;
    /* background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/running.jpeg') 50% 30%;  */
}

#think > div {
    height:inherit;
}

#think > div > h2 {
    color:#fff;
    padding-top: 35%;
}

#save {
    height:60vh;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    /* background: url('../img/sun.jpeg') 50% 50% no-repeat; */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/sun.jpeg') 50% 30%;
}

#save > div {
    height:inherit;
}

#save > div > h2 {
    color:#fff;
    padding-top: 8em;
}

#welcome_info {
    margin-top: 15%;
}

@media (min-width: @screen-sm-min) {
    .navbar li:last-child {
        border-left: 1px solid #778182;
    }
}

/* LOGIN */

.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 10px;
}
/* Main Form */
.login-form-1 {
  max-width: 400px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}

.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;

  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/* Login Button */
.login-form-1 .login-button {
  position: absolute;
  right: -65px;
  top: 33%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  border: 3px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
