a {
    color: #A62020;
}

.action-button, .action-button:hover {
    background: none;
    border: 1px solid #A62020;
    margin: .5em 0;
    padding: .5em .75em;
    color: #A62020;
    width: 100%;
}

body{
    font-family:'Lato', sans-serif;
    font-size:16px;
    overflow-x:hidden;
    background: #efefef;
}


.breadcrumbs {
    margin-top: 2em;
    text-align: center;
}

.breadcrumbs a {
    color: #A62020;
    font-size: 1.2em;
    margin: 0 0.5em;
}

.breadcrumbs > a:last-child {
    color: #777;
    text-decoration: underline;
}

.circle {
    background:#778182;
    border-radius:50%;
    height:10em;
    margin: 1.5em auto;
    text-align: center;
    width:10em;
}

.container-fluid{
    padding:0;
}

div {
    margin-bottom: 0px;
}

.dropzone .dz-preview{
    width: 80%;
}

.dz-message {
    padding-top: 5em;
}

.feats{
    height: 50vh;
    margin: 1.5em auto;
    padding-top: 2em;
}

#file-icon {
    padding-right: .5em;
}

.fileListForm > .btn-default {
    border: none;
}

.fileListFormAction{
    width: 100%;
}

#file-navbar {
    margin: 2em 0;
}

.form-control:focus{
    border-color: #A62020;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(166,32,32,.6)
}

.form-name {
    margin: 4em auto;
    width: 75%;
}

.glyph-welcome {
    color: #fff;
    font-size:5em;
    margin: 25% auto;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:300;
}

#icon-file-show {
    font-size: 10em;
    margin: .3em 0;
}

.mobileActionId{
    padding: 0;
}

#mobileUploadForm {
    background: rgba(255,255,255,0.2);
    height: 50vh;
}


#new-file-button {
    width: 100%;
}
#no-files {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/sky.jpeg'); 
    background-position: 50% 50%;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    color:#fff; 
    min-height: 100vh; 
    margin: 0;
    overflow-y: hidden;
    padding: 5em 2em;
}

#no-files h2 a {
    color: #fff;
    overflow-y: none;
    text-decoration: underline;
}

#myDropzone {
    height: 80%;
    width: 100%;
}

.navbar {
    background-color:#fff;
    font-size:1.2em;
    margin-bottom:0;
    padding:1em 0;
}

.navbar ul {
    padding: 0 1em;
}

.navbar-brand > img{
    height: 3em;
    margin: -1em 0 0 2em;
}

#register-button{
    background: none;
    border: 0.3em solid #fff;
    color: #fff;
    margin: 1.5em auto;
    padding: 1em 5em;
    text-transform: uppercase;
}

#submit-all {
    width: 100%;
}

#submit-folder {
    background: none;
    border: 1px solid #A62020;
    color: #A62020;
    margin: 2em 12.5%;
    width: 75%;
}

#think {
    height:60vh;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background: url('../img/phone.jpeg') 50% 50%;
    /* background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/running.jpeg') 50% 30%;  */
}

#think > div {
    height:inherit;
}

#think > div > h2 {
    color:#fff;
    padding-top: 35%;
}

#save {
    height:60vh;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    /* background: url('../img/sun.jpeg') 50% 50% no-repeat; */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/sun.jpeg') 50% 30%;
}

#save > div {
    height:inherit;
}

#save > div > h2 {
    color:#fff;
    padding-top: 8em;
}

th {
    background: #fff;
}

.toggle-button, .toggle-button:hover{
    font-size: 1em;
    float: right;
    width: 100%;
}

.ui-autocomplete {
    background: #fff;
    z-index: 50000;
}

#version-table {
    margin-top: 2em;
}

#welcome_info {
    margin-top: 15%;
}

#welcome-jumbotron {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/action.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color:#fff;
}


@media (min-width: 768px) {
    #new-file-button{
        width: 10%;
    }
    #no-files {
        padding-top: 15em;
    }
}

@media (min-width: 1024px){
    .action-button, .action-button:hover{
        margin-top:2em;

    }
    .breadcrumbs {
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: left;
    }

    .fileListForm {
        display: inline-block;
        float:left;
    }
    #file-navbar {
        padding-left: 9.5%;
    }
}

/* LOGIN */

.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 10px;
}
/* Main Form */
.login-form-1 {
  max-width: 400px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}

.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;

  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/* Login Button */
.login-form-1 .login-button {
  position: absolute;
  right: -65px;
  top: 33%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  border: 3px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}




